<html>

<head>
  <title>Service de messagerie Photo Premium</title>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <style>
    body {
      font-family: 'Poppins';
    }
  </style>
</head>

<!-- mail from here-->

<body style="padding: 0; margin: 0">
  <div style=" font-family: Roboto, Arial, sans-serif; padding: 0">
    <div style="background-color: #F3F4F5; border-bottom: 2px solid #010057; padding: 2px; position: relative;">
      <div style="display: flex; align-items: stretch">
        <div style="flex: 1; background-color: #010057; width:100%">
          <h1
            style="margin-top:25px; margin-left: 25px; margin-bottom: 25px;font-weight: bold; font-size: 18px; color: #f1f1fd; font-family: 'Poppins'; letter-spacing: 0.4em; word-spacing: 0.25em;">
            PHOTO PREMIUM</h1>
        </div>
      </div>
      <div style="padding: 8px 25px;">
        <h1 style="margin-top:25px; font-weight: normal; font-size: 20px">Un nouveau message est arrivé pour vous.</h1>
        <h2 style="margin-top:25px; font-weight: normal; font-size: 16px; margin-bottom:8px">Vous avez reçu un message
          de {{sender}}:
        </h2>
        <dd>
          <h2 style="margin-top:5px; font-weight: normal; font-size: 14px; margin-bottom:8px">{{message}}</h2>
        </dd>
        </br>
        <h2 style="margin-top:5px; font-weight: normal; font-size: 16px; margin-bottom:8px">Pour répondre, merci de vous
          connecter {{link}} {{finalMessage}}</h2>
        <p style="margin-top: 50px; font-weight: 600">
          À votre santé!
        </p>
        <p style="font-weight: 600">
          Équipe Photo Premium
        </p>

      </div>
    </div>
</body>

</html>